.heading{
    font-size: 24px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}
.note{
    font-size: 16px;
    color: red;
}
    .copy_right_footer {
        position: fixed;
        background: linear-gradient(to left, #5d4157, #a8caba);
        bottom: 0;
        width: 100%;
        font-size: 25px;
        color: rgb(55, 255, 0);
        line-height: 3;
        text-align: center;
        text-shadow: 5px 5px 5px rgb(0, 255, 229);
        font-family:'Courier New', Courier, monospace
     }
     canvas{
        border:5px solid white;
        border-radius: 20px;
        box-shadow: 4px 4px 6px 6px rgb(123, 0, 255);
     }

body{
    font-family: monospace;
}
span{
    color: hotpink;
}